name: CI

on:
  pull_request:
    branches:
      - main
    paths:
      - "src/**"
      - "ext/**"
      - "test/**"
      - "Project.toml"
      - ".github/workflows/CI.yml"
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        version:
          - "1.10"
          - "1"
        os:
          - ubuntu-latest
        group:
          - "layers"
          - "vision"
          - "piml"
          - "core"
    uses: LuxDL/Lux.jl/.github/workflows/CommonCI.yml@main
    with:
      julia_version: ${{ matrix.version }}
      os: ${{ matrix.os }}
      project: "."
      test_args: "BACKEND_GROUP=CPU ${{ matrix.group }}"

  downgrade:
    uses: LuxDL/Lux.jl/.github/workflows/CommonCI.yml@main
    with:
      julia_version: "1.10"
      os: ubuntu-latest
      project: "."
      downgrade_testing: true
      test_args: "BACKEND_GROUP=CPU"
